{% extends 'base.html.twig' %}

{% block title %}Syndic {% endblock %}
  {% block liItem0 %}
      <a class="nav-link text-dark  " href="/workers"> Personnels </a>
  {% endblock %}
 {% block liItem1 %}
     <a class="nav-link text-dark " href="/houses"> Maisons </a>
 {% endblock %}
{% block liItem2 %}
    <a class="nav-link  text-dark " href="#"> <i class="far fa-sign-in-alt" ></i></a>
{% endblock %}


 {% block stylesheets %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
    /*body {*/
    /*    background-image: url("1.jpg");*/
    /*    background-size: cover;*/
    /*    background-repeat: no-repeat;*/
    /*    background-position: center;*/
    /*    background-color: rgb(0,0,245,0.15);*/
    /*    background-blend-mode: overlay;*/


    /*}*/

    .text{
        font-family: 'EB Garamond', serif;
        font-size: 160%;
        margin-top:60px
    }
    .box{

        background-color: rgb(255,255,255,0.45);
        background-blend-mode: overlay;
        /*border-radius: 8px 8px;*/
        box-shadow: 3px 3px 3px 3px rgb(255,255,255,0.45);
    }
    .box:hover{
        height: 150px;
        width :100px;
        background-color: rgb(255,255,255,0.85);
        background-blend-mode: overlay;
    }

    .navbar{
        opacity: 0.9;
    }
    #bv{
        font-family: 'Playfair Display', serif;
    }
    .div{animation: bounce .3s ease infinite alternate;}
    #pay{ -webkit-animation-delay: .2s; animation-delay: .2s; }
    </style>
{% endblock %}
{% block body %}

    <hr  style="margin-top: 0;
    margin-bottom: 1.8rem; ">

    <div class="jumbotron jumbotron-fluid"  style="background-image : url('pp.jpg'); border: 2px black; height:280px ">
        <div class="container w-75 shadow-sm  "
             style="background-color: rgb(0,0,0,0.05); background-blend-mode: overlay">




                        <h4 class="display-4  " id="bv"  >  <b>BIENVENUE</b> </h4>
                    </div>

            </div>

    <hr  style="margin-bottom: 0;">
{#    <div class="container-fluid">#}
{#        <div class="row">#}
{#            <div class="col-1"></div>#}
{#            <div class="col-7">#}

{#                <img src="{{ asset('frame1.png') }}" style="width:340px; height: 40px; opacity:0.8" class="float-right">#}
{#            </div>#}
{#        </div>#}

{#    </div>#}
{#<br>#}
    <div class="container-fluid bg-dark" style="height: 200px">

            <div class="row div">
                <div class="col-3"></div>
                <div class="col-4  " style="margin-right: 50px" >
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-5 box" style="border-radius: 10px 30px; box-shadow: 3px 3px 3px black;
                            background-color: rgb(255,255,255,0.45); background-blend-mode: overlay;">
                                <i class="fas fa-hand-holding-usd text-light  small"
                                   style="font-size: 2.5rem;margin-left: 40px;margin-top: 6px" ></i> <br><br>
                                <a href="/payment" class="btn-link  text-center text"  id="pay"
                                   style="color: white;margin-left: 12px">Paiement</a>
                            </div>
                        </div>

                     </div>
                </div>
                <div class="col-4 " style="margin-right: 20px" >
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-5 box" style="border-radius: 10px 30px; box-shadow: 3px 3px 3px black;
                            background-color: rgb(255,255,255,0.45); background-blend-mode: overlay;  ">
{#                                <i class="fas fa-cash-register text-light text-center rounded-circle "#}
{#                                   style="font-size: 2.5rem; margin-left: 45px; margin-top: 6px"></i>#}
                                <i class="fas fa-sack-dollar text-center text-light"
                                   style="font-size: 2.5rem; margin-left: 45px; margin-top: 10px"></i>
                                <br><br>
                            <a href="/treasury" class="btn-link  text-center text"  id="pay"
                               style="color: white;margin-left: 18px">Trésorerie</a>
                        </div>
                    </div>

                </div>


            </div><br></div>



{% endblock %}