{% extends 'base.html.twig' %}

{% block title %}Syndic {% endblock %}
  {% block liItem0 %}
      <a class="nav-link  text-white " href="#"> Personnels </a>
  {% endblock %}
 {% block liItem1 %}
     <a class="nav-link  text-white " href="#"> Maisons </a>
 {% endblock %}
{% block liItem2 %}
    <a class="nav-link  text-primary " href="#"> <i class="far fa-sign-in-alt" style="color:white"></i></a>
{% endblock %}


 {% block stylesheets %}
     <style>
         @import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

         body {
             background-image: url("cover.jpg");
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center;

         }

         .box {
             height: 150px;
             /*max-height: 100px;*/
             background-color: var(--navColor);
             opacity: 0.8;

         }

.btn{
    background: linear-gradient(to bottom, #9ac5e7 1%, #2968ad 86%);
    border: none;
    border-radius:50px 20px;
}

         .btn:hover {
             font-size: 1.25rem;


         }
     </style>{% endblock %}
{% block body %}

    <main>
        <div class="container-fluid">
            <div class="container-fluid" style=" height : 350px">

            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <button class="btn-info w-100 btn float-right">Paiement</button>
                        <br>
                    </div>


                </div>
                <br>
                <div class="row">
                    <div class="col-3">
                        <button class="btn-info btn w-100 float-right">Caisse</button>
                        <br>
                    </div>


                </div>

            </div>

        </div>

        </div>
        {#        <div class="container-fluid about ">#}
        {#   <p>  A propos</p>#}
        {#        </div>#}
    </main>

{% endblock %}
