<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block head %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="icon" class="rounded-circle" href="{{ asset('SYNDIC.png') }}"
              style="height: 70px; width:70px" type="image/x-icon">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">


        {% endblock %}
        <title>{% block title %}Syndic{% endblock %}</title>
    </head>
    {% block stylesheets %}{% endblock %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
        .img{
        height:70px;
        }
        :root{
            --navColor : black;
            --navLight: #9AC5E7 ;
        }
        .text-dark{

        }

    </style>
    <body>


    <header>

        <!--NAVBAR-->
        {% block nav  %}
{#            <div class="container-fluid" style="height: 40px"></div>#}
            <nav class="navbar navbar-expand border-dark bg-transparent navbar-dark " style="margin-top: 20px">



                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse justify-content-between" style="float: right" id="navbarNav">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item  w-50 ">
                            {% block navitem1 %}
                            {% endblock %}

                        </li>
                        <li class="nav-item">
                            {% block navitem2 %}

                            {% endblock %}
                        </li>
                        <li class="nav-item">
                            {% block navitem3 %}  {% endblock %}
                        </li>


                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <ul  class="navbar-nav w-100">
                            {% block liItem0 %}

                            {% endblock %}

                            {% block liItem1 %}

                            {% endblock %}





                        </ul></form>
                        {% block liItem2 %}

                        {% endblock %} </div>


            </nav>

        {% endblock %}
    </header>

    {% block body %}{% endblock %}
    {% block cdnscripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>


</html>
