{% extends 'base.html.twig' %}

{% block title %}historique paiement{% endblock %}

  {% block liItem0 %}
      <a class="nav-link text-dark  " href="/base"><i class="fad fa-home-alt"></i> </a>
  {% endblock %}
 {% block liItem1 %}
     <a class="nav-link  text-dark" href="/workers">Personnels</a>
 {% endblock %}
{% block liItem2 %}
    <a class="nav-link text-dark  " href="/houses"> Maisons</a>
{% endblock %}
{% block stylesheets %}
    <style>

        @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            left: 3px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 45px;
            height: 27px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
.lead{
    font-family: 'EB Garamond', serif;
}
        .cont {
            display: flex;
        }

        .input {
            flex: 1;

        }
        #retour{
            margin-top : -20px ;
            margin-left:30px;
            margin-bottom: -5px;
        }
        .month{
            font-size: 1.8rem;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid " >
        <hr style="margin-top: 0">
        <a href="/houses" class="text-dark" id="retour">Maisons</a>
        <i class="fas fa-angle-right smaller" ></i>
        <a href="/histPay" class="text-dark">  Historique de paiement</a>

        <hr style="margin-bottom: 1.8rem; ">
    </div>

    <div class="jumbotron jumbotron-fluid shadow" style="background-image: url('money3.jpg'); background-size: 100%;
background-color: rgb(0,0,0,0.3); background-blend-mode: overlay; height:250px">
        <div class="container">
            <h1 class="display-4 lead "style="color:WHITE"  ><b>Appartement I immeuble I</b></h1>
                                    <p class="lead" style="color:WHITE">
                                     M. </p>


    </div>
    </div>
    <hr>

    <div class="container  align-self-center " style="border-radius: 10px 10px; width:40%">
        <div class="container bg-warning "  style="border-radius: 10px 10px">
            <br>
            <p class="text-center text-white" style="font-size: 2rem">

                <i class="fas fa-angle-double-left smaller "></i>
                <span class="text-warning">.................</span>
                <span>2020</span>
                <span class="text-warning">.................</span>
                <i class="fas fa-angle-double-right smaller"></i>
            </p>
            <br>
        </div>
        <div class="container bg-light">
           <div class="months">
               <div class="month">Janvier</div>
               <div class="month">Fevrier</div>
               <div class="month">Mars</div>
               <div class="month">Avril</div>
               <div class="month">Mais</div>
               <div class="month">Juin</div>
               <div class="month">Juillet</div>
               <div class="month">Aout</div>
               <div class="month">Septembre</div>
               <div class="month">October</div>
               <div class="month">Novembre</div>
               <div class="month">Decembre</div>





           </div>
        </div>
    </div>
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="col-2"></div>#}
{#            <div class="col-7">#}

{#                <div class="form-row cont container shadow border-dark" style="border-radius: 20px 20px">#}
{#                    <input type="email" class="form-control input "  id="email" style="border: none" placeholder="trouver une année">#}
{#                    <a href="#" class="search "><i class="fas fa-search   search"#}
{#                                                   style="color:var(--navColor); margin-top: 15px; margin-left: 15px" ></i></a>#}
{#                </div>#}

{#            </div>#}
{#            <div class="col-3">#}
{#                <div class="float-right">#}
{#                    <a href="#" class="btn border-dark btn-white">#}
{#                        <i class="fas fa-sort-amount-up-alt  float-right"></i>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}

{#        </div>#}


{#    <br>#}
{#    <table class="table table-responsive-sm table-bordered" id="table">#}
{#        <thead>#}
{#        <tr class="month">#}
{#            <th scope="col" class="shadow page-link " > <a href="/month" class="text-dark">2001 <i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col " class="shadow page-link"> <a href="/month" class="text-dark">2002<i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col" class="shadow page-link"> <a href="/month" class="text-dark">2003<i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col" class="shadow page-link"> <a href="/month" class="text-dark">2004<i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col" class="shadow page-link">2005<a href="/month"><i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col" class="shadow page-link">2006<a href="/month"><i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col" class="shadow page-link">2007<a href="/month"><i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col" class="shadow page-link">2008<a href="/month"><i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col" class="shadow page-link">2009<a href="/month"><i class="fas fa-angle-double-right float-right"></i></a></th>#}
{#            <th scope="col" class="shadow page-link">2010<a href="/month"><i class="fas fa-angle-double-right float-right"></i></a></th>#}


{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        <tr>#}
{#            <th scope="row">#}
{#                                    <label class="switch">#}
{#                                        <input type="checkbox" checked>#}
{#                                        <span class="slider round"></span>#}
{#                                    </label>#}
{#            </th>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}

{#                                    <label class="switch">#}
{#                                        <input type="checkbox" checked>#}
{#                                        <span class="slider round"></span>#}
{#                                    </label>#}
{#            </td>#}
{#            <td>#}

{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}
{#            </td>#}
{#            <td>#}

{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}
{#            </td>#}
{#        </tr>#}

{#        </tbody>#}
{#    </table>#}
{#    <br>#}
{#    <table class="table table-responsive-sm table-bordered" id="table">#}
{#        <thead>#}
{#        <tr>#}
{#            <th scope="col">2011</th>#}
{#            <th scope="col">2012</th>#}
{#            <th scope="col">2013</th>#}
{#            <th scope="col">2014</th>#}
{#            <th scope="col">2015</th>#}
{#            <th scope="col">2016</th>#}
{#            <th scope="col">2017</th>#}
{#            <th scope="col">2018</th>#}
{#            <th scope="col">2019</th>#}
{#            <th scope="col">2020</th>#}


{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        <tr>#}
{#            <th scope="row">#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}
{#            </th>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}
{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label> </td>#}
{#            <td>#}

{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}
{#            </td>#}
{#            <td>#}

{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}
{#            </td>#}
{#            <td>#}

{#                <label class="switch">#}
{#                    <input type="checkbox" checked>#}
{#                    <span class="slider round"></span>#}
{#                </label>#}
{#            </td>#}
{#        </tr>#}

{#        </tbody>#}
{#    </table>#}
{% endblock %}