{% extends 'houses/payment/paymentBase.html.twig' %}
{% block stylesheets %}
    <style>
        .navbar{
            opacity:0.9;
        }
        body{
            background-color: #343a40;
        }

        .active {
            color:#1b03a3;
        }
    </style>
{% endblock %}


{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col flex-column" style="margin-left: 47%">
                <a href="/payment">   <i class="fas fa-circle   small " style="color:lightgrey"> </i></a>
                <a href=""><i class="fas fa-circle active small  " > </i></a>

                <i class="fas fa-circle   small "style="color:lightgrey"></i>

            </div>
        </div>
    </div>

    <div class="container" style="height:100px"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
                <label class="text-white " style="font-family: 'EB Garamond', serif"> Choisir une année : <br>
                    <input type="text" class="form-check-input shadow w-100 " style="border-radius: 10px 10px; " name="datepicker" id="datepicker" />
                </label>
                <br> <br> <br>
                <a href="/confirm" class="btn text-white shadow  float-right" style=" background-color: #1b03a3; margin-top: -1px"> confirmer </a>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        <script>
            $("#datepicker").datepicker( {
                multidate: true,
                format: "yyyy",
                startView: "years",
                minViewMode: "years"
            });
        </script>
    {% endblock %}
