{% extends 'base.html.twig' %}

 {% block liItem0 %}
     <a class="nav-link text-dark  " href="/base"><i class="fad fa-home-alt"></i> </a>
 {% endblock %}
 {% block liItem1 %}
     <a class="nav-link  text-dark" href="/workers">Personnels</a>
 {% endblock %}
{% block liItem2 %}
    <a class="nav-link text-dark  " href="/houses"> Maisons</a>
{% endblock %}
{% block stylesheets %}
    <style>

    </style>
{% endblock %}


{% block body %}
    <div class="container-fluid bg-dark" style="height: 700px">


<hr style="margin-top: 0">
<div class="container"style="height: 80px"></div>


{% endblock %}
